@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: rgb(255, 139, 44);
    margin: 0;
    font-family: 'Roboto', sans-serif;
 }

.card{
    list-style: none;
    padding: 40px;
    background-color: rgb(201, 200, 200);
    color: #555;
}  

.card:hover{
    animation: bounce 0.5s linear;
    cursor: pointer;
}

@keyframes bounce{
    20%{
        transform: translateY(-1em);
    }
    40%{
        transform: translateY(0em);
    }
    60%{
        transform: translateY(-0.5em);
    }
    80%{
        transform: translateY(0em);
    }
}
#my-pokedex{
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 25px;
    text-align: center;
}

.card-head{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 0;
}

.card-bottom{
    font-weight: lighter;
    color: #888;
    margin-top: 0.6em;
}

.card-image{
    height: 10em;
}

.outside{
    padding: 4em;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 3em;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #f4f4f4;
    opacity: 0.90;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close{
    position: absolute;
    top: 15px;
    right: 25px;
}

button{
    background-color: rgba(0, 243, 203, 0.897);
    padding: 10px 20px;
    border: none;
    color: black;
    border-radius: 4px;
    transition: transform 100ms;

}

button:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 1px 2px rgb(92, 20, 20);
}