/* 
This css file provides styling for our application
*/

/* Get the font fr header */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Set the initial state of body */
body {
    background-color: rgb(255, 139, 44);
    margin: 0;
    font-family: 'Roboto', sans-serif;
 }

/* Layout for each card */
.card{
    list-style: none;
    padding: 40px;
    background-color: rgb(201, 200, 200);
    color: #555;
}  

/* On hovering over each card */
.card:hover{
    animation: bounce 0.5s linear;
    cursor: pointer;
}

/* This produces bouncy effect on hovering over each pokemon card */
@keyframes bounce{
    20%{
        transform: translateY(-1em);
    }
    40%{
        transform: translateY(0em);
    }
    60%{
        transform: translateY(-0.5em);
    }
    80%{
        transform: translateY(0em);
    }
}

/* This makes all the elements in body with grid styling and spacing */
#my-pokedex{
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 25px;
    text-align: center;
}

/* This styles the heading of each card */
.card-head{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 0;
}

/* This styles the bottom text for each card */
.card-bottom{
    font-weight: lighter;
    color: #888;
    margin-top: 0.6em;
}

/* Size of each image */
.card-image{
    height: 10em;
}
/* The default padding for outside of cards */
.outside{
    padding: 4em;
}

/* the heading of our application */
h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 3em;
}

/* The styling for popup when any pokemon is clicked */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #f4f4f4;
    opacity: 0.90;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The close button position */
#close{
    position: absolute;
    top: 15px;
    right: 25px;
}

/* The close button styling */
button{
    background-color: rgba(0, 243, 203, 0.897);
    padding: 10px 20px;
    border: none;
    color: black;
    border-radius: 4px;
    transition: transform 100ms;

}

/* effects on hovering over CLOSE button */
button:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 1px 2px rgb(92, 20, 20);
}
